#warning{
    display: none;
}

#not-found{
    display: none;
}
.detailse-parent-div{
    /* overflow-x: hidden; */
    /* width: 73%; */
} 

 
#detailse-parent{
    /* overflow-x: hidden; */
    width: 85%;
   
}

#spinner{
    display: none;
}

